.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
}

.page-heading {
  margin-bottom: 1rem;
}

.login-signup-form .field-block {
  margin-bottom: 1rem;
}

.error-message {
  margin-top: 0.4rem;
  color: #b00020;
  font-size: 0.9rem;
}

.login-signup-btn {
  width: 100%;
  margin-top: 0.5rem;
}

.login-signup-link {
  margin-top: 1rem;
  text-align: center;
}
